/* Basic form layout
-------------------------------------------------------------- */
fieldset {clear: both;}
fieldset.hidden_inputs {display:none;}
* html legend {margin-left: -7px;} /* ie6 */
*+html legend {margin-left: -7px;} /* ie7 */

form.form .field {
    clear: both;
}

/* form labels
-------------------------------------------------------------- */
form.form .field label {
    display: block;
    font-size:12px;
    padding-top:5px;
    height:18px;
    line-height:1em;
    font-weight:bold;
}
form.form label.has_error {
    color: #8a1f11;
    padding-top:0px;
}
form.form label.has_hint {
    padding-top:0px;
}
form.form label.has_error span.issue {
    display:block;
    width:100%;
    font-size:9px;
    padding-left:5px;
    font-weight:normal;
}
form.form label.has_hint span.hint {
    width:100%;
    color:#a2a2a2;
    font-size:9px;
    padding-left:5px;
    display:block;
    font-weight:normal;    
}

/* form lists
-------------------------------------------------------------- */
form.form ul.fields {
    margin: 0 0 1.5em;
    padding: 0;
}
form.form ul.fields li {
    list-style-type: none;
    margin: 0;
}
form.form ul.inline li,
form.form ul.inline label {
    display: inline;
}
form.form ul.inline li {
    padding: 0 .75em 0 0;
}

/* form para
-------------------------------------------------------------- */
form.form p {
    font-size:12px;
    color:#888888;
    margin-bottom:10px;
    padding:5px 10px;
}

/* inputs
-------------------------------------------------------------- */
form.form input.password,
form.form .textarea,
form.form .dropdown {
    min-width:185px;
}
form.form input.input[type=text],
form.form input.password,
form.form .textarea {
    min-width:182px;
}
form.form label,
form.form button,
form.form input.submit,
form.form input.image {
    cursor: pointer;
}
form.form textarea {
    overflow: auto;
}
form.form input.input,
form.form input.password,
form.form .textarea,
form.form .dropdown {
    margin: 0;
    vertical-align: baseline;
}
form.form input.input, 
form.form input.password,
form.form .textarea {
    border: 1px solid #E2E2E2;
    padding: 2px 0;
}
form.form input.input:focus, 
form.form input.password:focus,
form.form .textarea:focus {
    border:1px solid #000000;
}
form.form input.has_error,
form.form input.password.has_error,
form.form .textarea.has_error {
    border:1px solid #8a1f11;
}
form.form input.radio,
form.form input.checkbox {
    vertical-align:top;
    margin-top:5px;
}
* html form.form input.radio, * html input.checkbox {vertical-align: middle;} /* ie6 */
*+html form.form input.radio, *+html input.checkbox {vertical-align: middle;} /* ie7 */

/* horizontal layout
-------------------------------------------------------------- */
form.form .field {
    padding:3px 0 3px 13px;
}
form.form .field label {
    display: inline;
    float: left;
    width: 450px;
    margin-left: 0px;
}

/* Legends
-------------------------------------------------------------- */
form.form fieldset legend  {
    border-bottom:1px solid #DDDDDD;
    border-top:2px solid #C60C30;
    color:#C60C30;
    font-size:14px;
    padding:5px;
    margin-bottom:5px;
}
form.form fieldset legend span {
    display:block;
    width:728px;
    padding-left:12px;
    font-weight:bold;
}

/* form bottom cap
-------------------------------------------------------------- */
.form_bottom {
    background:#C60C30;
    border-top:1px solid #000000;
    text-align:right;
    height:25px;
    padding:5px 10px;
    margin-top:15px;
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-bottomright:4px;
}

/* Buttons
-------------------------------------------------------------- */
button.small_green_button,
input.input.submit.small_green_button,
button.small_red_button,
input.input.submit.small_red_button{
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-bottomright:4px;
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    background-color:transparent;
    border:2px solid white;
    color:white;
    font-size:10pt;
    font-weight:bold;
    text-decoration:none;
    cursor:pointer;
}

button.small_green_button,
input.input.submit.small_green_button
{
    min-width: 150px;
}

button.small_red_button,
input.input.submit.small_red_button{

}

/* Numbering
-------------------------------------------------------------- */
form.form .number {
    clear: left;
}
form.form fieldset.module_destination {
    padding-left: 210px;
}
form.form fieldset.module_destination label {
    margin-left: -200px;
}

/* Deletes
-------------------------------------------------------------- */
form.form fieldset.delete {
    text-align:center;
}
form.form .delete_warning {
    margin:10px 0;
    display:inline-block;
    line-height:25px;
    text-indent:37px;
    height:32px;
    background:url(../img/warning_32.png) no-repeat;
}