/* --------------------------------------------------------------
    This file holds css rules that implement the top level
    layout and positioning:

    -- wrapper
         |-- header
         |   |-- topbar
         |   `-- bottom
         |-- content
         |   `-- wrapper
         |       |-- nav
         |       `-- main
         `-- footer
             |-- topbar
             |-- nav
             `-- bottom
-------------------------------------------------------------- */

/* Default HTML element styles
-------------------------------------------------------------- */
html, body {
    background:#f5f5f5;
    margin:0;
    padding:0;
    border:0;
    font-weight:inherit;
    font-style:inherit;
    font-family:sans-serif;
    font-size:90%;
    vertical-align:baseline;
}
a {
    color:#FFFFFF;
}
a:visited {
    color:#FFFFFF;
}


/* Layout element styles
-------------------------------------------------------------- */
.container {
    background:#FFFFFF;
    color:#888888;
    width:780px;
    margin:5px auto;
    border:1px solid #000000;
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-bottomright:4px;
}

/* Header styles
-------------------------------------------------------------- */
.header {
    height:15px;
    position:relative;
    padding:5px 10px;
    background:#C60C30;
    border-bottom:1px solid #000000;
}
.header .topbar {
    font-size:12px;
    text-align:right;
}

/* Installer Header
-------------------------------------------------------------- */
.installer_header {
    padding:15px 15px 10px;
}
.installer_header h2 {
    padding-top:10px;
    color:#888888;
    font-size:16px;
    font-weight:bold;
    text-align:left;
}
.installer_header .freepbx_desc {
    font-size: .7em;
    font-style:italic;
    font-weight:bold;
    padding-bottom:10px;
}

/* Content styles
-------------------------------------------------------------- */
.content {
    background-color:#FFFFFF;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}
.content .wrapper .main {
    padding:0px 15px;
}

/* Footer styles
-------------------------------------------------------------- */
.footer {
    padding:10px 0 0;
}

.footer .topbar,
.footer .bottom {
    float:right;
    padding:0 10px;
}

/* Attribution element styles
-------------------------------------------------------------- */
.poweredby {
    position:relative;
    height:45px;
    width:130px;
    background-position:center top;
    background-repeat:no-repeat;
    background-image:url(../../../../assets/img/poweredby.png);
}

.attribution {
    font-size:10px;
    text-align:center;
}