/* Basic form layout
-------------------------------------------------------------- */
fieldset {
    clear: both;
    /* border:1px solid #CCCCCC; */
    margin: 5px 0;
    padding: 5px;
}
fieldset.hidden_inputs {display:none;}
* html .legend {margin-left: -7px;} /* ie6 */
*+html .legend {margin-left: -7px;} /* ie7 */

form.form .field {
    clear: both;
    margin: 5px 0;
    /*margin: 0 0 5px;*/
}

/* form labels
-------------------------------------------------------------- */
form.form .field label {
    display: block;
    font-size:12px;
    padding-top:5px;
    height:18px;
    line-height:1em;
    /*font-weight:bold;*/
}
form.form label.has_error {
    color: #8a1f11;
    padding-top:0px;
}
form.form label.has_hint {
    padding-top:0px;
}
form.form label.has_error span.issue {
    display:block;
    width:100%;
    font-size:9px;
    padding-left:5px;
    font-weight:normal;
}
form.form label.has_hint span.hint {
    width:100%;
    color:#a2a2a2;
    font-size:9px;
    padding-left:5px;
    display:block;
    font-weight:normal;    
}

/* form lists
-------------------------------------------------------------- */
form.form ul.fields {
    margin: 0 0 1.5em;
    padding: 0;
}
form.form ul.fields li {
    list-style-type: none;
    margin: 0;
}
form.form ul.inline li,
form.form ul.inline label {
    display: inline;
}
form.form ul.inline li {
    padding: 0 .75em 0 0;
}

/* form para
-------------------------------------------------------------- */
form.form p {
    font-size:11px;
    color:#666666;
    margin-bottom:10px;
    border-bottom:solid 1px #ccc;
    padding:0 10px;
}

/* inputs
-------------------------------------------------------------- */
form.form input.input,
form.form input.password,
form.form .textarea,
form.form .dropdown {
    min-width:185px;
}
form.form input.input,
form.form input.password,
form.form .textarea {
    min-width:182px;
}
form.form input.radio,
form.form input[type=radio],
form.form input.checkbox,
form.form input[type=checkbox]
{
    min-width:0 !important;
}

form.form label,
form.form button,
form.form input.submit,
form.form input.image {
    cursor: pointer;
}
form.form textarea {
    overflow: auto;
}
form.form input.input,
form.form input.password,
form.form .textarea,
form.form .dropdown {
    margin: 0;
    vertical-align: baseline;
}
form.form input.input, 
form.form input.password,
form.form .textarea {
    border: 1px solid #E2E2E2;
    padding: 2px 0;
}
form.form input.input:focus, 
form.form input.password:focus,
form.form .textarea:focus {
    border:1px solid #000000;
}
form.form input.has_error,
form.form input.password.has_error,
form.form .textarea.has_error {
    border:1px solid #8a1f11;
}
form.form input.radio,
form.form input.checkbox {
    vertical-align:top;
    margin-top:5px;
}
* html form.form input.radio, * html input.checkbox {vertical-align: middle;} /* ie6 */
*+html form.form input.radio, *+html input.checkbox {vertical-align: middle;} /* ie7 */

/* horizontal layout
-------------------------------------------------------------- */
form.form .field {
    padding-left: 13px;
}
form.form .field label {
    display: inline;
    float: left;
    width: 200px;
    margin-left: 0px;
}

/* Legends
-------------------------------------------------------------- */
form.form fieldset .legend  {
    color:#629800;
    clear:both;
    text-align:left;
    padding-bottom:7px;
    display:block;
    overflow:hidden;
}
form.form fieldset .legend span {
    /* font-weight:bold; */
    font-size:1.2em;
}
form.form fieldset.hidden_inputs + fieldset.fieldset .legend,
form.form fieldset:first-child .legend {
    padding-top:0px;
}
form.form fieldset.hidden_inputs + fieldset.fieldset .legend span,
form.form fieldset:first-child .legend span {
    border-top:0;
}
/*
form.form fieldset fieldset .legend span {
    background:#FFFFFF;
    border-top:1px solid #EEEED7;
    color:#75A51F;
}
*/
form.form fieldset .help {
     background-image:url('../img/help_icon_small.gif');
     background-repeat:no-repeat;
     height:12px;
     width: 12px;
     padding-right:2px;
     float:left;
}

/* form bottom cap
-------------------------------------------------------------- */
.form_bottom {
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-bottomright:4px;
    background:#F2F2E5;
    border-top:3px solid #EEEED7;
    text-align:right;
    padding:9px 15px;
}

/* Buttons
-------------------------------------------------------------- */
button.small_green_button,
input.input.submit.small_green_button,
button.small_red_button,
input.input.submit.small_red_button{
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-bottomright:4px;
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    background-color:transparent;
    border:medium none;
    color:white;
    font-size:10pt;
    font-weight:bold;
    padding:0px 1.75em;
    text-decoration:none;
}

button.small_green_button,
input.input.submit.small_green_button
{
    min-width: 150px;
    background-image:url(../img/buttonSmallMiddle.png);
}

button.small_red_button,
input.input.submit.small_red_button{
    background-image:url(../img/buttonSmallBackRed.png);
}

/* Numbering
-------------------------------------------------------------- */
form.form .number {
    clear: left;
}
form.form fieldset.module_destination {
    padding-left: 210px;
}
form.form fieldset.module_destination label {
    margin-left: -200px;
}
form.form fieldset .numbers_dropdown {
    height:200px;
    width:460px;
    float:left;
}

/* Deletes
-------------------------------------------------------------- */
form.form fieldset.delete {
    text-align:center;
}
form.form .delete_warning {
    margin:10px 0;
    display:inline-block;
    line-height:25px;
    text-indent:37px;
    height:32px;
    background:url(../img/warning_32.png) no-repeat;
}
