/* --------------------------------------------------------------

    This file holds css that addresses specific on-screen elements

-------------------------------------------------------------- */
/* Language change notice
-------------------------------------------------------------- */
#lang_bar{
    display: none;
    background-color: #FFFFE1;
    border-style: none none solid none;
    border-color: grey;
    border-width: 1px;
    font-size: 12px;
    width: 100%;
    text-align: center;
}

/* Module headers
-------------------------------------------------------------- */
.module_header {
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    line-height:28px;
    background:#F2F2E5;
    border-bottom:3px solid #EEEED7;
    text-align:left;
    height:39px;
}
.module_header h2 {
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    color:#629800;
    font-size:1.4em;
    /*font-weight:bold;*/
    padding-left:11px;
    padding-top:9px;
}

/* Message items
-------------------------------------------------------------- */
.error, .alert, .info, .success {
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-bottomright:4px;     
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
    text-align: center;
}

.error {
    background: #FBE3E4;
    color: #8a1f11;
    border-color: #FBC2C4;
 }
.error a { color: #8a1f11; }

.alert {
    background: #FFF6BF;
    color: #514721;
    border-color: #FFD324;
}
.alert a { color: #514721; }

.info {
    background: #E3E3FB;
    color: #514721;
    border-color: #9696FA;
}
.info a { color: #514721; }

.success {
    background: #E6EFC2;
    color: #264409;
    border-color: #C6D880;
}
.success a  { color: #264409; }

/* Link buttons
-------------------------------------------------------------- */
a.button,
a.nxt_aval_link,
a.random_pwd_link{
    background:url(../img/nicebutton/button.gif);
    display:block;
    color:#555555;
    height:30px;
    line-height:29px;
    text-decoration:none;
    width:191px;
    float: right;
    margin: 0 118px 10px;
}
a:hover.button,
a:hover.nxt_aval_link,
a:hover.random_pwd_link{
    color:#0066CC;
}
a.button.add span,
a.nxt_aval_link span{
    background:url(../img/nicebutton/add.gif) no-repeat 10px 8px;
    text-indent:35px;
    display:block;
}
a.button span .delete{
    background:url(../img/nicebutton/delete.gif) no-repeat 10px 8px;
    text-indent:35px;
    display:block;
}
a.button span .user{
    background:url(../img/nicebutton/user.gif) no-repeat 10px 8px;
    text-indent:35px;
    display:block;
}
a.button span .alert{
    background:url(../img/nicebutton/alert.gif) no-repeat 10px 8px;
    text-indent:35px;
    display:block;
}
a.button span .msg{
    background:url(../img/nicebutton/msg.gif) no-repeat 10px 8px;
    text-indent:35px;
    display:block;
}
a.button span .download{
    background:url(../img/nicebutton/download.gif) no-repeat 10px 8px;
    text-indent:35px;
    display:block;
}
a.button span .lens{
    background:url(../img/nicebutton/lens.gif) no-repeat 10px 8px;
    text-indent:35px;
    display:block;
}
a.button span .info{
    background:url(../img/nicebutton/info.gif) no-repeat 10px 8px;
    text-indent:35px;
    display:block;
}
a.button span .tel_pwd,
a.random_pwd_link span{
    background:url(../img/nicebutton/telephone_pwd.gif) no-repeat 10px 8px;
    text-indent:35px;
    display:block;
}
a.button span .wand,
a.nxt_aval_link span{
    background:url(../img/nicebutton/wand.gif) no-repeat 10px 8px;
    text-indent:35px;
    display:block;
}

/* Layout modifiers
-------------------------------------------------------------- */
.hide {display:none;}
.hidden {position: absolute !important; top: -10000px !important; }

.clear {clear:both;}
.clr-left {clear:left;}
.clr-right {clear:right;}
.clearfix:after, .container:after, .line-break:after {
        content:"\0020";
        display:block;
        height:0;
        clear:both;
        visibility:hidden;
        overflow:hidden;
}

.clearfix, .container {display:block;}
/*.clearfix {display: inline-block;}   for IE/Mac */


/* Destination
-------------------------------------------------------------- */
form.form #destinations {
    margin:10px 0; 
}
