/* --------------------------------------------------------------
    This file holds css rules that implement the top level
    layout and positioning:

    -- wrapper
         |-- header
         |   |-- topbar
         |   `-- bottom
         |-- content
         |   `-- wrapper
         |       |-- nav
         |       `-- main
         `-- footer
             |-- topbar
             |-- nav
             `-- bottom
-------------------------------------------------------------- */

/* Default HTML element styles
-------------------------------------------------------------- */
html, body {
    background:#f5f5f5;
    margin:0;
    padding:0;
    border:0;
    font-weight:inherit;
    font-style:inherit;
    font-family:Helvetica, Arial, sans-serif;
    font-size:90%;
    vertical-align:baseline;
    line-height:1.4;
}
a {
    color:#005f80;
}
a:visited {
    color:#005f80;
}


/* Layout element styles
-------------------------------------------------------------- */
.container {
    width:950px;
    margin:0 auto;

}

/* Header styles
-------------------------------------------------------------- */
#logo_container{
    float:left;
}
#profileLinks .loginManager {
    text-align:right;
}
#profileLinks .loginManager span {
    display:block;
}
#profileLinks .dash {
    position:relative;
    right:15px;
    top:60px;
}
.header {
    height:98px;
    position:relative;
    padding:11px 0 0;
}
.header .topbar {
    position:relative;
    clear:both;
}
.header #logo {
    display:block;
    height:98px;
    width:332px;
    overflow:hidden;
    position:relative;

}

/* Content styles
-------------------------------------------------------------- */
.content {
    background-color:#FFFFFF;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}
.content .nav {
    padding:25px;
}
.content .wrapper .main {
    /* push the content away from the walls of container */
    padding:0px 25px 25px;
}

h1 {
    color:#005F80;
    font-size:16px;
    font-weight:bold;
}

h2 {
    color:#005F80;
    font-size:14px;
    font-weight:bold;
}

h3 {
    color:#005F80;
    font-weight:bold;
}


/* Footer styles
-------------------------------------------------------------- */
.footer {
    padding:10px 0 0;
}

.footer .topbar,
.footer .bottom {
    float:right;
    padding:0 10px;
}
