.grouping {
  overflow: auto;
  padding-left: 10px;
  /*border: 1px solid black;*/
  font-size: +1em;
}

.direntry {
  margin-right: 7px;
  margin-left: 7px;
  font-size: +1em;
    
    width: 16em;
    overflow: auto;
    float: left;
    background-image: url("../images/dot.png");
    background-repeat: repeat-x;
    background-position: bottom left;
}
.direntryIdle {
    color: green;
}
.direntryUnavailable {
    color: gray;
}
.direntryInUse {
   color: red;
}

.direntryRinging {
    color: orange;
}

.dirname {
  float:left;
  background: white;
}

.dirextension {
   float: right;
   background: white;
}
