/* Changes to the default form styles
-------------------------------------------------------------- */
form.form fieldset legend.module {
    padding:0px;
    cursor:pointer;
}
form.form fieldset legend.module:hover span {
    background:#EEEED7;
}
form.form fieldset legend.module span{
    line-height:normal;
    height:18px;
}

/* Actions style
-------------------------------------------------------------- */
form.form fieldset fieldset legend.module .module_actions,
form.form fieldset fieldset legend.module .module_actions span {
    display:inline;
    border:0;
    padding:0 5px;
    margin:0;
    width:auto;
    float:none;
    font-weight:normal;
}
form.form fieldset fieldset legend.module .module_actions {
    float:right;
    border-top:1px solid #EEEED7;
}
form.form fieldset fieldset legend.module .module_actions label {
    display:inline;
    float:none;
    padding:0;
    margin:0;
    font-weight:normal;
}
form.form .module_actions input.checkbox {
    margin-top:2px;
    margin-left:2px;
}

/* Module Messages
-------------------------------------------------------------- */
.module_messages .fail {
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-bottomright:4px;
    padding: .8em;
    margin:10px 25px;
    border: 2px solid #FBC2C4;
    background: #FBE3E4;
    color: #8a1f11;
    font-size:12px;
    font-weight:bold;
}
.module_messages .fail ul {
    padding-left:25px;
    font-weight:normal;
}
.module_messages .warning {
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-bottomright:4px;
    padding: .8em;
    margin:10px 25px;
    border: 2px solid #FFD324;
    background: #FFF6BF;
    color: #514721;
    font-size:12px;
    font-weight:bold;
}
.module_messages .warning ul {
    padding-left:25px;
    font-weight:normal;
}

/* Parameter lists
-------------------------------------------------------------- */
.module_parameters {
    clear:both;
    display:none;
    padding:0 25px 10px;
}
.parameter {
    float:left;
    width:212px;
}
.parameter_label {
    font-weight:bold;
    display:block;
    width:100%
}
.parameter_value {
    display:block;
    width:100%;
    padding-left:20px;
}
.parameter.parameter_summary,
.parameter.parameter_description {
    clear:both;
    width:100%;
}

#question {
    display:none;
    cursor: default;
    margin: 10px;
}
#question .buttons {
    padding:10px 0;
}
.module_messages {
    clear:both;
    width:100%;
}