/* Changes to the default form styles
-------------------------------------------------------------- */
form.form fieldset .package_wrapper {
    width: 90%;
    margin: 0 auto;
    border-bottom:1px solid #CCCCCC;
    color:#666666;
}
form.form fieldset .legend.module {
    padding:0px;
    cursor:pointer;
    padding:5px;
    font-weight: bold;
    padding-top:5px !important;
    height: 24px;
}
form.form fieldset .legend.module:hover{
    background:#EEEED7;
}
form.form fieldset .legend.module span{
    background: transparent;
    line-height:normal;
    height:18px;
    line-height:24px;
}
.form_bottom {
    margin-top: 5px;
}

/* Actions style
-------------------------------------------------------------- */
form.form fieldset fieldset .legend.module .module_actions,
form.form fieldset fieldset .legend.module .module_actions span {
    background: transparent;
    display:inline;
    border:0;
    padding:0 5px;
    margin:0;
    width:auto;
    float:none;
    font-weight:normal;
    height:25px;
}
form.form fieldset fieldset .legend.module .module_actions {
    float:right;
    border-top:1px solid #EEEED7;
}
form.form fieldset fieldset .legend.module .module_actions label {
    display:inline;
    float:none;
    padding:0;
    margin:0;
    font-weight:normal;
}
form.form .module_actions input.checkbox {
    margin-top:2px;
    margin-left:2px;
}
form.form fieldset fieldset .legend.module .details {
    display:none;
    font-size:10px;
}
form.form fieldset fieldset .legend.module:hover .details {
    display:inline;
    color:#888888;
}

/* Module Messages
-------------------------------------------------------------- */
.module_messages .error_message {
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-bottomright:4px;
    padding: .8em;
    margin:10px 25px;
    border: 2px solid #FBC2C4;
    background: #FBE3E4;
    color: #8a1f11;
    font-size:12px;
    font-weight:bold;
}
.module_messages .error_message ul {
    padding-left:25px;
    font-weight:normal;
}
.module_messages .warning_message {
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-bottomright:4px;
    padding: .8em;
    margin:10px 25px;
    border: 2px solid #FFD324;
    background: #FFF6BF;
    color: #514721;
    font-size:12px;
    font-weight:bold;
}
.module_messages .warning_message ul {
    padding-left:25px;
    font-weight:normal;
}

.module_messages .notice_message {
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-bottomright:4px;
    padding: .8em;
    margin:10px 25px;
    border: 2px solid #9696FA;
    background: #E3E3FB;
    color: #514721;
    font-size:12px;
    font-weight:bold;
}
.module_messages .notice_message ul {
    padding-left:25px;
    font-weight:normal;
}

.module_messages .ok_message {
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-bottomright:4px;
    padding: .8em;
    margin:10px 25px;
    border: 2px solid #C6D880;
    background: #E6EFC2;
    color: #264409;
    font-size:12px;
    font-weight:bold;
}
.module_messages .ok_message ul {
    padding-left:25px;
    font-weight:normal;
}

/* Parameter lists
-------------------------------------------------------------- */
.module_parameters {
    display:none;
    clear:both;
    padding:0 25px 10px;
}
.module_parameters hr {
    display: block;
    clear: left;
    margin: -0.66em 0;
    visibility: hidden;
}
.parameter {
    float:left;
    width:212px;
}
.parameter_label {
    font-weight:bold;
    display:block;
    width:100%
}
.parameter_value {
    display:block;
    width:100%;
    padding-left:20px;
}
.parameter.parameter_summary,
.parameter.parameter_description {
    clear:both;
    width:100%;
}






#question {
    display:none;
    cursor: default;
    margin: 10px;
}
#question .buttons {
    padding:10px 0;
}
.module_messages {
    clear:both;
    width:100%;
}