@CHARSET "UTF-8";

ul.faxlist li
{
	list-style: disc outside none;
}
ol.faxlist li, ul.faxlist li
{
	margin-left: 2.5em;
}
ol.faxlist li
{
	list-style: decimal outside none;
}

em.fax
{
    color: #005F80;
    font-size: 16px;
    font-weight: bold;
}

p.fax
{
	padding-bottom: 1.5em;
}

#dispformstatus
{
	float: right;
}

#dispform
{
	padding-left: 20px;
}

#faxvarlist
{
	margin-left: 30px;
	padding: 10px 5px;
	border: 1px solid gray;
}