.clear
{
        clear: both;
}
.listseperator
{
        border-top: 1px solid #005f80;
        width: 98%;
        margin: 10px auto;
}
.agent_list_label, .queue_list_label
{
        font-weight: bold;
        font-size: 1.05em;
        color: #005f80;
        font-style: italic;
}
#queue_list_label, #agent_list_label
{
        float: left;
}
#queue_list_status, #agent_list_status, #update_button
{
        float: right;
}
#queue_options, #agent_options
{
        height: 135px;
        display: none;
}
#queue_options_prompt, #agent_options_prompt
{
        background-color: #f6f6f6;
        text-align: right;
}
#queue_options_prompt:hover, #agent_options_prompt:hover
{
        cursor: pointer;
        background-color: #d6d6d6;
}
#agentstatus_option_wrapper, #agentstatus_order_wrapper, #queue_option_wrapper, #queue_order_wrapper
{
        height: 135px;
        width: 49%;
}
#agentstatus_option_wrapper, #queue_option_wrapper
{
        float: left;
}
#agentstatus_order_wrapper, #queue_order_wrapper
{
        float: right;
}
#agentstatus_option_hide, #queue_option_hide
{
        float: right;
}
#agentstatus_order_prompt, #agentstatus_option_prompt, #queue_order_prompt, #queue_option_prompt
{
        background-color: #f6f6f6;
}
#agentstatus_option_list, #agentstatus_order_list, #queue_option_list, #queue_order_list
{
        width: 99%;
        height: 100px;
        overflow: auto;
        border: 1px solid #005f80;
        padding: 5px 5px 5px 5px;
}
