.hidden
{
    display: none;
}

.callcenter-wrapper
{
    display: block;
    width: 100%;
    height: 500px;
    margin: 0px;
    padding: 6px;
}

.pane
{
    float: left;
    width: 30.6%;
    height: 100%;
}

.focused-pane
{
    width: 67.4%;
}

.left-pane
{
    margin-right: 3px;
}

.right-pane
{
    margin-left: 3px;
/*  CHANGE RADIUS Org: 15px */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
/*  CHANGE SIZE Org: 2px; */
    border: 1px solid #676767;
}

.queues-wrapper
{
    margin-top: 15px;
    height: 470px;
    overflow-y: auto;
    overflow-x: hidden;
}

.queue-wrapper
{
    width: 100%;
    padding: 5px 0px 5px 0px;
}

.queue
{
    margin: 0px 15px 0px 15px;
/*  CHANGE RADIUS Org: 11px */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
/*  CHANGE to no border
    border: 1px solid black; */
/*  CHANGE to lighter gray */
    background: #CCCCCC;
}

.queue-bar
{
/*  CHANGE RADIUS Org: 10px */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: url("../../../../skins/bluebox/assets/img/buttonLargeMiddle.png" );
    border: none;
    height: 30px;
}

.queue-bar-text
{
    text-align: right;
    /*  CHANGE to not bold
    font-weight: bold; */
    color: white;
    position: relative;
    top: 19%;
    right: 10px;
}

.queue-content
{
    height: 412px;
    margin-top: 13px;
}

.tiers-wrapper
{
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tier-wrapper
{
    width: 100%;
    padding: 5px 0px 5px 0px;
}

.tier
{
    margin-left: 15px;
    margin-right: 15px;
/*  CHANGE RADIUS Org: 11px */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
/*  CHANGE to no border
    border: 1px solid black; */
    background: #FFFFFF;
}

.tier-bar
{
/*  CHANGE RADIUS Org: 10px */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: url("../../../../skins/bluebox/assets/img/buttonSmallMiddle.png" );
    border: none;
    padding: 1px 4px 1px 4px;
}

.tier-bar-text
{
    text-align: right;
    /*  CHANGE to not bold
    font-weight: bold; */
    color: #FFFFFF;
    position: relative;
    top: 0px;
    right: 5px;
}

.tier-content
{
    height: 365px;
    overflow: hidden;
}

.action-buttons
{
    text-align: right;
    margin: 6px 15px 6px 15px;
}

.button
{
/*  CHANGE RADIUS Org: 10px */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-image: url("../../../../skins/bluebox/assets/img/buttonSmallMiddle.png" );
    border: none;
    padding: 1px 4px 1px 4px;
/*  CHANGE to not bold
    font-weight: bold; */
    color: white;
}

.menu-bar-wrapper
{
    height: 100%
}

.menu-bar
{
/*  CHANGE RADIUS Org: 15px */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
/*  CHANGE SIZE & background Org: 2px */
    border: 1px solid #676767;
/* NOTE */
    background: #CCCCCC;
}

.menu-top-wrapper
{
/*  CHANGE RADIUS Org: 12px */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 75px;
/*  CHANGE to lighter */
    background: #CCCCCC;
    border-bottom: 1px solid #
}

.menu-separator
{
    height: 0px;
    margin: 0px 5px 0px 5px;
    padding: 0px;
    border-top: 1px solid #676767;
    border-bottom: 1px solid #A0A0A0;
}

.menu-bottom-wrapper
{
    height: 425px;
}

.menu-selector-wrapper
{
    width: 300px;
    height: 36px;
    padding-top: 6px;
}

.menu-selector-agents-holder
{
    text-align: right;
    float: left;
    width: 30%;
}

.menu-selector-add-holder
{
    text-align: center;
    float: left;
    width: 30%;
}

.menu-selector-manage-holder
{
    text-align: left;
    float: left;
    width: 30%;
}

#menu-select-agents
{
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
    width: 85%;
}

#menu-select-add
{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    width: 100%;
}

#menu-select-manage
{
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    width: 85%;
}

.menu-search-bar-wrapper
{
    width: 266px;
}

.menu-search-bar
{
    padding: 2px;
    margin-left: 5%;
    width: 90%;
    margin-right: 5%;
    height: 16px;
/*  CHANGE RADIUS Org: 10px */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #FFFFFF;
}

.menu-search-bar-mag-lens
{
    display: inline;
    position: relative;
    top: 0px;
    left: 5px;
    padding-right: 15px;
    margin-right: 3px;
    background-image: url("../../../../skins/bluebox/assets/img/nicebutton/lens.gif" );
    background-repeat: no-repeat;
}

#menu-search-bar-text
{
    width: 200px;
    vertical-align: middle;
    height: 18px;
    position: relative;
    top: -2px;
    padding-left: 5px;
    font-size: 10px;
    margin-left: 5px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid #A0A0A0;
}

.text-empty
{
    color: #CCCCCC;
    font-style: italic;
}

.text-typed
{
    color: #676767;
    font-style: normal;
}

.menu
{
    height: 425px;
}

.menu-title
{
    font-size: 16px;
    margin-left: 28px;
    margin-top: 8px;
}

.menu-agents
{
    padding: 8px;
}

.menu-agents-agents-wrapper
{
    height: 405px;
    padding-left: 5px;
    overflow-y: auto;
    overflow-x: hidden;
/* CHANGE add background */
    background: #FFFFFF;
}

.agent
{
/*  CHANGE implement underline */
    border-bottom: 1px solid #CCCCCC;
    margin-right: 5px;
    height: 30px;
    cursor: pointer;
}

.agent-user-icon
{
    float: left;
    position: relative;
    top: 5px;
    left: 6px;
    height: 16px;
    padding-left: 15px;
    background-image: url("../../../../skins/bluebox/assets/img/nicebutton/user.gif" );
    background-repeat: no-repeat;
}

.agent-user-name
{
    float: left;
    position: relative;
    margin-left: 5px;
    left: 10px;
/*  CHANGE implement better font style */
    top: 4px;
    font-size: 14px;
    color: #373737;
    /*    font-weight: bold; */
}

.menu-add
{
    padding: 8px;
}

.add-form
{
    margin-top: 10px;
}

.add-field-label
{
/*  CHANGE to not bold
    font-weight: bold; */
    color: #303030;
    margin-left: 28px;
}

.add-field-wrapper
{
    text-align: center;
}

.add-text-field
{
    width: 200px;
    font-size: 11px;
/*  CHANGE border and color */
    border: 1px solid #A0A0A0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.add-select-field
{
/* CHANGE color and border */
    color: #676767;
    border: 1px solid #A0A0A0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #FFFFFF;
    width: 200px;
    font-size: 11px;
}

.add-buttons
{
    margin-top: 25px;
}

.add-button-wrapper
{
    text-align: center;
}

.queue-options-title
{
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.queue-options
{
    width: 100%;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    height: 325px;
}

.queue-options-pane
{
    padding-right: 25px;
    padding-left: 25px;
    display: inline-block;
    width: 160px;
    vertical-align: top;
}

.queue-option
{
    text-align: left;
    margin-bottom: 15px;
}

.queue-option-title
{
    font-weight: bold;
    font-size: 12px;
}

.queue-option-field
{
    font-size: 11px;
}

.tier-agents
{
    height: 100%;
}

.tier-agents-wrapper
{
    display: inline-block;
    border: 1px solid #676767;
    height: 347px;
    width: 193px;
    margin: 9px;
    overflow-y: auto;
    overflow-x: hidden;
}
.ghost-agent
{
    background-color: blue;
}

.queue-bar-toggle
{
    color: #FFFFFF;
    float: left;
    position: relative;
    top: 7px;
    left: 11px;
    font-size: 12px;
}

.tier-bar-toggle
{
    color: #FFFFFF;
    float: left;
    position: relative;
    top: 2px;
    left: 6px;
    font-size: 11px;
}

.browser-warning
{
    color: #A0A0A0;
    text-align: center;
}
