/* 
    Document   : autoattendant
    Author     : Michael Phillips
    Description:
        Auto-Attendant CSS layout sheet
*/
#auto_attendant_keymap .keymap_header {
    border-bottom: 1px solid black;
    clear:both;
}
#auto_attendant_keymap .keymap_header_text {
    font-size:12px;
    font-weight:bold;
    height:18px;
    line-height:0;
    display:inline;
    float:left;
    margin-left:0;
    width:330px;
    text-align: center;
}

#auto_attendant_keymap .autoattendant_key {
    margin:0 25px;
    padding-bottom:10px;
    padding-top:10px;
    clear: both;
    text-align: center;
}
#auto_attendant_keymap .autoattendant_key input {
    width: 40px !important;
    min-width: 0 !important;
    text-align: center;
}
#auto_attendant_keymap .autoattendant_key .pools_dropdown {
    margin-right:5px;
}
#auto_attendant_keymap .remove_key {
    display:inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/delete.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 20px;
}
.new_option_container {
    margin: 10px 0;
    height: 30px;
}

/* Other fields */
.auto_attendant input#autoattendant_extension_digits {
    width: 30px;
    min-width: 30px;
}

.auto_attendant input#autoattendant_timeout {
    width: 30px;
    min-width: 30px;
}

.auto_attendant input#autoattendant_digit_timeout {
    width: 30px;
    min-width: 30px;
}

.auto_attendant input#autoattendant_description {
    width:600px;
}

.auto_attendant input#autoattendant_tts_string {
    width: 600px;
}
