<center><h3>{$message}</h3></center>
{if condition="isset($show_installer)"}
<script>
function process_module_actions(actions) {
	freepbx_modal_show('moduleBox');
	urlStr = "config.php?type=tool&amp;display=epm_config&amp;quietmode=1&amp;handler=file&amp;file=installer.html.php&amp;module=endpointman&amp;type=manual_install&amp;package={$package}&amp;xml={$xml}&amp;install_type={$type}";
	urlStr += "&amp;rand="+Math.random ( );
	for (var i in actions) {
		urlStr += "&amp;moduleaction["+i+"]="+actions[i];
	}
	$('#moduleBox').html('<iframe src="'+urlStr+'"></iframe>');
}
function close_module_actions(goback) {
	//freepbx_modal_close('moduleBox');
	freepbx_modal_hide('moduleBox');
	if (goback) {
  		location.href = 'config.php?type=tool&display=epm_advanced&subpage=manual_upload';
	}
}
process_module_actions();
</script>

<div id="moduleBox" style="display:none;"></div>

{/if}
<form action="" method="post" enctype="multipart/form-data" name="form1">
    <label>Provisioner Package (.tgz):
        <input type="file" name="package" id="fileField">
    </label> Local Date Last Modified: {$provisioner_ver}
    <br/>
    <input type="submit" name="upload_provisioner" value="<?=_('Upload')?>">
</form>
    <br /><br />
{if condition="1 == 0"}
<form action="" method="post" enctype="multipart/form-data" name="form1">
    <label>Master List File (.xml):
        <input type="file" name="xml" id="fileField">
    </label> Local Date Last Modified: {$master_ver}
        <br/>
    <input type="submit" name="upload_master_xml" value="<?=_('Upload')?>">
</form>
    <br /><br />
{/if}
<form action="" method="post" enctype="multipart/form-data" name="form1">
    <label>Brand XML File (.xml):
        <input type="file" name="xml" id="fileField">
    </label>
    <br />
    <label>Brand Package (.tgz):
        <input type="file" name="package" id="fileField">
    </label>
        <br/>
    <input type="submit" name="upload_brand" value="<?=_('Upload')?>">
</form>
