<center><h3>{$message}</h3></center>
<p><?=_('Export CSV file of devices')?>:
  <br>
  <a href="{$exporter_address}"><?=_('Export CSV')?></a></p>
<p><?=_('Import CSV file of devices')?>:<form name="form1" enctype="multipart/form-data" method="post" action="config.php{$web_vars}&display=epm_advanced&subpage=iedl&action=import">
  <label>
	<input type="hidden" name="MAX_FILE_SIZE" value="30000" />
    <input type="file" name="import_csv" id="fileField">
  </label>
  <br>
  <label>
    <input type="submit" name="button_import" value="<?=_('Import')?>">
  </label>
</form>
<p><?=_('Note: CSV file should look like this')?>:</p>
<p>&lt;Mac&gt;, &lt;<?=_('Brand')?>&gt;, &lt;<?=_('Model')?>&gt;, &lt;<?=_('Extension')?>&gt;</p>
<p><?=_('Brand')?>, <?=_('Model')?> &amp; <?=_('Extension can be blank')?></p>
