<table align='center' width='30%'>
<tr>
<td align='center'><h3>OUI</h3></td>
<td align='center'><h3><?=_("Brand")?></h3></td>
<td align='center'></td>
{loop name="oui_list"}
</tr><tr>
<td align='center'>{$value.oui}</td><td align='center'>{$value.name}</td><td align='center'></td>
</tr><tr>
{/loop}
{if condition="isset($oui_list_custom)"}
	{loop name="oui_list_custom"}
	</tr><tr>
	<td align='center'>{$value.oui}</td><td align='center'>{$value.name}</td><td align='center'><a href="config.php{$web_vars}&display=epm_advanced&subpage=oui_manager&delete=yes&id={$value.id}"><img src='images/delete.gif' ALT='Delete' border='0'></a></td>
	</tr><tr>
	{/loop}
{/if}
<td colspan='4'><hr><tr>
    <td colspan="2" align='center'><h3><?=_('Add Custom')?> OUI</h3></td>
</form>
<form action='config.php{$web_vars}&display=epm_advanced&subpage=oui_manager' method='POST'>
	</tr><tr>
	<td align='center'><input name="oui" type="text"  maxlength="6"/></td><td align='center'>	<select name="rb_brand">
			{loop name="brand_ava"}
			<option value="{$value.value}">{$value.text}</option>
			{/loop}
		</select></td>
	</tr><tr>
	    <td colspan="2" align='center'><input type="submit" name="oui_sub" value="<?=_('Add')?>"></td>
</form>
</tr>
</table>
