<center><form method="post" action="config.php{$web_vars}&display=epm_advanced&subpage=poce">
  <?=_("Select Product")?>
  <select name="product_select" id="product_select">
	{loop name="product_list"}
	<option value="{$value.value}" {if condition="isset($value.selected)"}selected='selected'{/if}>{$value.text}</option>
	{/loop}
  </select>
  <label>
    <input type="submit" name="button_select" value="<?=_('Select')?>">
  </label>
</form>
</center>
<hr width="30%">
<form method="post" action="config.php{$web_vars}&display=epm_advanced&subpage=poce&product_select={$product_selected}&phone_options=true">
{if condition="isset($options)"}	
{$options}
{/if}
</form>
<hr width="30%">
<center><h4><?=_("File Configuration Editor")?></h4>
<table width="70%" border="0" cellspacing="4" cellpadding="4">
  <tr>
    <td valign="top">
        <u><?=_("Custom Template Files")?></u><br />
	{loop name="template_file_list"}
	<a href="config.php{$web_vars}&display=epm_advanced&subpage=poce&product_select={$product_selected}&temp_file={$value.value}">{$value.text}</a><br />
	{/loop}
	<hr>
	<u><?=_("Local File Configs")?></u><br />
	{loop name="file_list"}
	<a href="config.php{$web_vars}&display=epm_advanced&subpage=poce&product_select={$product_selected}&file={$value.value}">{$value.text}</a><br />
	{/loop}
	<hr>
	<u><?=_("User File Configs")?></u><br />
	{if condition="isset($sql_file_list)"}
		{loop name="sql_file_list"}
		<a href="config.php{$web_vars}&display=epm_advanced&subpage=poce&product_select={$product_selected}&sql={$value.value}">{$value.text}</a> [{$value.ref}] <a href="{$web_vars}&display=epm_advanced&subpage=poce&product_select={$product_selected}&sql={$value.value}&delete=yes"><img src='images/delete.gif' ALT='Delete' border='0'></a>
		<br />
		{/loop}
	{/if}
	</td>
    <td><form method="post" action="">
      <label>
        <textarea name="config_text" id="textarea" cols="100" rows="30" wrap="off">{if condition="isset($config_data)"}{$config_data}{/if}</textarea>
      </label>
      <br>
      <label>
        <input type="submit" name="button_save" value="<?=_('Save')?>">
      </label>{if condition="!isset($temp_file)"} or
      <label>
        <input type="submit" name="button_save_as" value="<?=_('Save As')?>..">
      </label>
	<label>
	  <input type="text" name="save_as_name" id="save_as_name" value="{if condition="isset($save_as_name_value)"}{$save_as_name_value}{/if}">
	</label>{/if}
    </form></td>
  </tr>
</table>
</center>
