<h3>{$message}</h3>
<form action='config.php{$web_vars}&display=epm_advanced&subpage=settings' method='POST'>
<table width='90%' align='center'>
<tr>
<td width='50%' align='right'><?=_("IP address of phone server")?>:</td>
<td width='50%' align='left'><input type='text' id='srvip' name='srvip' value='{$srvip}'><a href='#' onclick="document.getElementById('srvip').value = '{$ip}'; "><?=_("Determine for me")?></a></td>
</tr><tr>
<td width='50%' align='right'><?=_("Time Zone")?> (<?=_('like')?> USA-5)</td>
<td width='50%' align='left'><select name="tz" id="tz">
	{loop name="list_tz"}
	<option value="{$value.value}" {if condition="$value.selected == 1"}selected='selected'{/if}>{$value.text}</option>
	{/loop}
</select>

</td>
</tr>
<!-- Future
<tr>
<td width='50%' align='right'><?=_("Language")?> (<?=_('like')?> EN_US)</td>
<td width='50%' align='left'><select name="tz" id="tz">
	{loop name="list_tz"}
	<option value="{$value.value}" {if condition="$value.selected == 1"}selected='selected'{/if}>{$value.text}</option>
	{/loop}
</select>
</td>
</tr>
-->
<tr>
  <td align='right'><?=_("Default Final Configuration Directory")?></td>
  <td align='left'><label>
    <input type="text" name="config_loc" value="{$config_location}">
  </label></td>
</tr>
<tr>
  <td align='right'>NMAP <?=_("executable path")?>:</td>
  <td align='left'><label>
    <input type="text" name="nmap_loc" value="{$nmap_location}">
  </label></td>
</tr>
<tr>
  <td align='right'>ARP <?=_("executable path")?>:</td>
  <td align='left'><label>
    <input type="text" name="arp_loc" value="{$arp_location}">
  </label></td>
</tr>
<tr>
  <td align='right'>Asterisk <?=_("executable path")?>:</td>
  <td align='left'><label>
    <input type="text" name="asterisk_loc" value="{$asterisk_location}">
  </label></td>
</tr>
<tr>
  <td align='right'><?=_("Enable FreePBX ARI Module")?></td>
  <td align='left'><label>
    <input type=checkbox name="enable_ari" {$ari_selected}>
  </label></td>
</tr>
<tr>
  <td align='right'><?=_("Enable Debug Mode")?></td>
  <td align='left'><label>
    <input type=checkbox name="enable_debug" {$debug_selected}>
  </label></td>
</tr>
<tr>
  <td align='right'><?=_("Enable Nightly Phone Module Updates Check")?></td>
  <td align='left'><label>
    <input type=checkbox name="enable_updates" {$updates_selected}>
  </label></td>
</tr>
<tr>
<td colspan='2' align='center'><input type='Submit' name='button_update_globals' value='<?=_('Update Globals')?>'></td>
</tr>
</table>
</form>
