<html>
<head>
	<title>PBX Endpoint Configuration Manager</title>
	{if condition="isset($template_editor_display)"}
		<link href="/admin/modules/endpointman/templates/stylesheets/coda-slider-2.0a.css" media="screen, projection" rel="stylesheet" type="text/css" /> 

 
		<!-- Begin JavaScript --> 
			<script type="text/javascript" src="<?=WEB_PATH?>templates/javascript/jquery.easing.1.3.js"></script> 
			<script type="text/javascript" src="<?=WEB_PATH?>templates/javascript/jquery.coda-slider-2.0.js"></script> 
			 <script type="text/javascript"> 
	            $().ready(function() {
	            	$('#coda-slider-9').codaSlider({
						dynamicArrows: false
					});
	            });
	         </script> 
		<!-- End JavaScript -->
	{/if}
                <!-- config.php?type=tool&amp;display=epm_config&amp;quietmode=1&amp;handler=file&amp;module=endpointman&amp;file=ajax_select.php?amp_conf -->

                

	{if condition="isset($amp_conf_serial)"}
		<script type="text/javascript" charset="utf-8"> 
		$(function(){
			$("select#brand_edit").change(function(){
                                $.ajaxSetup({ cache: false });
				$.getJSON("config.php?type=tool&quietmode=1&handler=file&module=endpointman&file=ajax_select.html.php&atype=model",{id: $(this).val()}, function(j){
					var options = '';
					for (var i = 0; i < j.length; i++) {
						options += '<option value="' + j[i].optionValue + '">' + j[i].optionDisplay + '</option>';
					}
					$("#model_new").html(options);
					$('#model_new option:first').attr('selected', 'selected');
					$("#template_list").html('<option></option>');
					$('#template_list option:first').attr('selected', 'selected');
				})
			})			
		})
		$(function(){
			$("select#product_select").change(function(){
				$.ajaxSetup({ cache: false });
                                $.getJSON("config.php?type=tool&quietmode=1&handler=file&module=endpointman&file=ajax_select.html.php&atype=template",{id: $(this).val()}, function(j){
					var options = '';
					for (var i = 0; i < j.length; i++) {
						options += '<option value="' + j[i].optionValue + '">' + j[i].optionDisplay + '</option>';
					}
					$("#template_selector").html(options);
					$('#template_selector option:first').attr('selected', 'selected');
				})
			})			
		})
		$(function(){
			$("select#model_new").change(function(){
				$.ajaxSetup({ cache: false });
                                $.getJSON("config.php?type=tool&quietmode=1&handler=file&module=endpointman&file=ajax_select.html.php&atype=template2",{id: $(this).val()}, function(j){
					var options = '';
					for (var i = 0; i < j.length; i++) {
						options += '<option value="' + j[i].optionValue + '">' + j[i].optionDisplay + '</option>';
					}
					$("#template_list").html(options);
					$('#template_list option:first').attr('selected', 'selected');
				})
			})			
		})
		$(function(){
			$("select#brand_list_selected").change(function(){
				$.ajaxSetup({ cache: false });
                                $.getJSON("config.php?type=tool&quietmode=1&handler=file&module=endpointman&file=ajax_select.html.php&atype=model",{id: $(this).val()}, function(j){
					var options = '';
					for (var i = 0; i < j.length; i++) {
						options += '<option value="' + j[i].optionValue + '">' + j[i].optionDisplay + '</option>';
					}
					$("#model_list_selected").html(options);
					$('#model_list_selected option:first').attr('selected', 'selected');
				})
			})			
		})
                $(function(){
                        $("select#model_class").change(function(){
                                $.ajaxSetup({ cache: false });
                                $.getJSON("config.php?type=tool&quietmode=1&handler=file&module=endpointman&file=ajax_select.html.php&atype=model_clone",{id: $(this).val()}, function(j){
                                        var options = '';
                                        for (var i = 0; i < j.length; i++) {
                                                options += '<option value="' + j[i].optionValue + '">' + j[i].optionDisplay + '</option>';
                                        }
                                        $("#model_clone").html(options);
                                        $('#model_clone option:first').attr('selected', 'selected');
                                })
                        })
                })
		</script>
	{/if}
</head>
<body face="Arial" onload="focus();displaymac.mac.focus()">
<br>
<h1><face="Arial"><center><?=_('End Point Configuration Manager')?></center></h1>
<hr>