<table align='center' width='90%'>
<tr>
<td align='center'><h3><a href='?type=tool&display=endpointman&page=devices_manager'><?=_("My Devices List")?></a></h3></td>
<td align='center'><h3><a href='?type=tool&display=endpointman&page=template_manager'><?=_("Template Manager")?></a></h3></td>
<td align='center'><h3><a href='?type=tool&display=endpointman&page=brand_model_manager'><?=_("Brand Configurations/Setup")?></a></h3></td>
<td align='center'><h3><a href='?type=tool&display=endpointman&page=advanced'><?=_("Advanced Settings")?></a></h3></td>
</tr>
</table>
<hr width='90%'>
