{include="global_header"}
<h3><center>{$message}</center></h3>
{if condition="$no_add == FALSE"}
<center>
	<h3><?=_('Add New Template')?>:</h3><form action="config.php?display=epm_templates&Submit=EditTemplate" method="POST">
	  <?=_('Template Name')?>:
	  <label>
	    <input type="text" name="template_name" id="template_name">
		<input type="hidden" name="page" value="template_manager">
	  </label>
	<?=_('Product Select')?>: 
	<label>
	  <select name="model_class" id="model_class">
		{loop name="class_list"}
	    <option value="{$value.value}">{$value.text}</option>
		{/loop}
	  </select>
	</label>
        Clone Template From:
        <label>
	  <select name="model_clone" id="model_clone">
	  </select>
	</label>
	<label>
	  <input type="submit" name="button_save" value="<?=_('Save')?>">
	</label>
	</form>
<table width="80%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><h3><?=_('Template Name')?></h3></td>
    <td><h3><?=_('Model Classification')?></h3></td>
    <td><h3><?=_('Model Clone')?></h3></td>
    <td><h3><?=_('Edit')?></h3></td>
    <td><h3><?=_('Delete')?></h3></td>
  </tr>
{loop name="templates_list"}
  <tr>
    <td>{$value.name}</td>
    <td>{$value.model_class}</td>
    <td>{$value.model_clone}</td>

	<td align='center' width='9%'><a href="config.php?edit_template=true&display=epm_templates&custom={$value.custom}&id={$value.id}"><img src='<?=WEB_PATH?>templates/images/edit.gif' ALT='<?=_('Edit')?>' border='0'></a></td>
	<td align='center' width='5%'>{if condition="$value.custom == 0"}
	<a href="config.php?delete_template=true&display=epm_templates&id={$value.id}"><img src='<?=WEB_PATH?>templates/images/delete.gif' ALT='<?=_('Delete')?>' border='0'></a>{/if}</td>
  </tr>
{/loop}
</table>
</center>
{/if}
{include="global_footer"}