{if condition="isset($in_ari)"}
<html>
    <head>
        <link href="/recordings/theme/coda-slider-2.0a.css" rel="stylesheet" type="text/css" />


        <!-- Begin JavaScript -->
        <script type="text/javascript" src="/recordings/theme/js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="/recordings/theme/js/jquery.coda-slider-2.0.js"></script>
        <script type="text/javascript">
            $().ready(function() {
                $('#coda-slider-9').codaSlider({
                    dynamicArrows: false
                });
            });
        </script>
        <!-- End JavaScript -->
    </head>
    <body>
        {else}
        <?=_('You are currently editing')?>
	{if condition="$custom != 0"}
        <?=_('a custom config template for extension')?> {$ext}, <?=_('Model')?>: {$model}
	{/if}
	{if condition="$custom == 0"}
        <?=_('the template named')?> "{$template_name}" <?=_('for Model')?>: {$model}
	{/if}
        <br />
        <form action="config.php?display=epm_templates" method="post">
	{if condition="$alt != 0"}
            <br/>
            <br />
            <?=_('Select Alternative File Configurations:')?>
	{$alt_configs}
            <br/>
	{/if}
            <br />
            <?=_('You can also use certain variables in your configs')?>:<br />{noparse}
	-"{$srvip}" = <?=_('Server IP')?><br />
	-"{$mac}" = <?=_('Device\'s Mac Address')?><br />
	-"{$ext}" = <?=_('Device\'s Default Extension (Line 1 or Master)')?><br />
	-"{$diplayname}" = <?=_('Device\'s Description in FreePBX (Usually the Full Name)')?><br />{/noparse}
            <br />
            {/if}

            <div class="coda-slider-wrapper">
                <div class="coda-slider preload" id="coda-slider-9">
		{loop name="template_editor"} 
                    <div class="panel">
                        <div class="panel-wrapper">
                            <h2 class="title">{$value.title}</h2>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
					{loop name="value.data"}
                                <tr>
                                    <td nowrap>
						{if condition="$value.type == 'input'"}
                                        <label>{$value.description}: <input type='text' name='{$value.key}' value='{$value.value}' size="40"></label>
						{elseif condition="$value.type == 'radio'"}
							{$value.description}
							{loop name="value.data"}
                                        <label>{$value.description}: <input type='radio' name='{$value.key}' value='{$value.value}' {if condition="array_key_exists('checked',$value)"}{$value.checked}{/if}></label>
							{/loop}
						{elseif condition="$value.type == 'list'"}
							{$value.description} <select name='{$value.key}'>
							{loop name="value.data"}
                                            <option value='{$value.value}' {if condition="array_key_exists('selected',$value)"}{$value.selected}{/if}>{$value.description}</option>
							{/loop}
                                        </select>
						{/if}
                                    </td><td width="90%">
						{if condition="isset($value.aried)"}
                                        <label><input type='checkbox' name='ari_{$value.ari.key}' {if condition="isset($value.ari.checked)"}{$value.ari.checked}{/if}><?=_('End User Editable (Through ARI Module)')?></label>
						{/if}
                                    </td>
                                </tr>
						{if condition="$value.type == 'break'"}
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
						{/if}
					{/loop}
                            </table>
                        </div>
                    </div>
		{/loop}
                </div><!-- .coda-slider -->
            </div><!-- .coda-slider-wrapper -->
            <input name="id" type="hidden" value="{$hidden_id}">
            <input name="custom" type="hidden" value="{$hidden_custom}">
            {if condition="!isset($in_ari)"}
            <input type="submit" name="button_save_template" value="<?=_('Save Template');?>">
        </form>
        {/if}
{include="global_footer"}