<module>
	<rawname>endpointman</rawname>
	<name>PBX End Point Manager</name>
	<version>2.2.3</version>
	<type>tool</type>
	<category>End Point Manager</category>
	<publisher>Andrew Nagy</publisher>
	<license>GPLv2</license>
	<menuitems>
		<epm_devices sort="1">End Point Device List</epm_devices>
		<epm_templates sort="2">End Point Template Manager</epm_templates>
		<epm_config sort="3">End Point Configuration</epm_config>
		<epm_advanced sort="4">End Point Advanced Settings</epm_advanced>
	</menuitems>
	 <description>PBX End Point Manager supports automated deployment of multiple manufacturers IP telephones.</description>
	 <changelog>
		*2.0.0* #264, #115, #107, #110, #111, #112, #119, #127, #128, #174, #261, #270, #280, #124, #126, #272, #281 (http://projects.colsolgrp.net/projects/endpointman/issues)
		*1.0.3* Bug Fix Aastra.cfg #142, #143 (http://projects.colsolgrp.net/projects/endpointman/issues)(6/16/09)
		*1.0.2* Bug Fix Polycom No sip_custom.cfg #125 (http://projects.colsolgrp.net/projects/endpointman/issues)
		*1.0.1* Bug Fix Polycom Ticket: #125 (http://projects.colsolgrp.net/projects/endpointman/issues)
		*1.0.0* Initial release (5.26.2009).
        </changelog>
	<info>http://projects.colsolgrp.net/projects/show/endpointman</info>
	<location>contributed_modules/release/endpointman-2.0.0.tgz</location>

<md5sum>b1341a35ef60d0fad17348803a0a7833</md5sum>
</module>
