/* Basic form layout
-------------------------------------------------------------- */
fieldset {clear: both;}

* html legend {margin-left: -7px;} /* ie6 */
*+html legend {margin-left: -7px;} /* ie7 */

form.form .field {
    clear: both;
    margin: 0 0 5px;
}

/* form labels
-------------------------------------------------------------- */
form.form .field label {
    display: block;
    font-size:12px;
    padding-top:5px;
    height:18px;
    line-height:1em;
}

/* form lists
-------------------------------------------------------------- */
form.form ul.fields {
    margin: 0 0 1.5em;
    padding: 0;
}
form.form ul.fields li {
    list-style-type: none;
    margin: 0;
}
form.form ul.inline li,
form.form ul.inline label {
    display: inline;
}
form.form ul.inline li {
    padding: 0 .75em 0 0;
}

/* inputs
-------------------------------------------------------------- */
form.form input.input,
form.form input.password,
form.form .textarea,
form.form .dropdown {
    min-width:185px;
}
form.form input.input,
form.form input.password,
form.form .textarea {
    min-width:182px;
}
form.form label,
form.form button,
form.form input.submit,
form.form input.image {
    cursor: pointer;
}
form.form textarea {
    overflow: auto;
}
form.form input.input,
form.form input.password,
form.form .textarea,
form.form .dropdown {
    margin: 0;
    vertical-align: baseline;
}
form.form input.input,
form.form input.password,
form.form .textarea {
    border: 1px solid #E2E2E2;
    padding: 2px 0;
}
form.form input.radio,
form.form input.checkbox {
    vertical-align:top;
}
* html form.form input.radio, * html input.checkbox {vertical-align: middle;} /* ie6 */
*+html form.form input.radio, *+html input.checkbox {vertical-align: middle;} /* ie7 */

/* horizontal layout
-------------------------------------------------------------- */
form.form .field {
    padding-left: 163px;
}
form.form .field label {
    display: inline;
    float: left;
    width: 200px;
    margin-left: -150px;
}
