/* --------------------------------------------------------------
    This file holds css rules that implement the top level
    layout and positioning:

    -- wrapper
         |-- header
         |   |-- topbar
         |   `-- bottom
         |-- content
         |   `-- wrapper
         |       |-- nav
         |       `-- main
         `-- footer
             |-- topbar
             |-- nav
             `-- bottom
-------------------------------------------------------------- */

/* Layout element styles
-------------------------------------------------------------- */
.wrapper{}
.header{}
.header .topbar{}
.header .bottom{}
.content{}
.content .wrapper{}
.content .wrapper .nav{}
.content .wrapper .main{}
.footer{}
.footer .topbar{}
.footer .nav{}
.footer .bottom{}

/* Default HTML element styles
-------------------------------------------------------------- */
html{}
body{}

h1{}
h2{}
h3{}

a{}
a:hover{}

p{}

div{}

img{}

ul{}
li{}

/* Attribution element styles
-------------------------------------------------------------- */
.poweredby {
    position:relative;
    z-index:99;
    height:45px;
    width:130px;
    background-position:center top;
    background-repeat:no-repeat;
    background-image:url(../../../../assets/img/poweredby.png);
}

.attribution {
    font-size:10px;
    text-align:center;
}